.footer {
    width: 100vw;
    height: 8rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: hsl(0, 0%, 0%);

    .footerContainer {
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;

        .footer1 {
            width: 100%;
            display: flex;
            align-items: center;

            img:nth-child(2) {
                margin: 0 0 0 auto;
            }

            img {
                padding: 5px;

                &:hover {
                    border-bottom: 3px solid #fff;
                }
            }

        }

        .footer2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            h3 {
                margin: 5px;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    border-bottom: 3px solid #fff;

                }
            }

            h3:nth-child(5) {
                margin: 5px auto 5px 5px;
            }

            span {
                color: #fff;

            }
        }

        h3 {
            color: #fff;
            margin: auto;
        }
    }

}

@media (max-width:600px) {
    .footer {
        height: auto;
        
        .footerContainer {
            max-width: 320px;
            .footer1 {
                flex-wrap: wrap;

                .logo {
                    margin: 0 auto;
                }

                .imgsFooter {
                    margin: 0 auto;
                }

            }

            .footer2 {
                flex-direction: column;

                h3:nth-child(5) {
                    margin: 5px;
                }
            }

        }
    }
}